// Just the Class dependencies
@import "card";

// Just the Class styles
@import "announcement";
@import "module";
@import "schedule";
@import "staffer";

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.main-content-wrap {
  max-width: $content-width;
  margin: auto;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: 700;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    font-weight: normal;

    + dt {
      margin-top: 1em;
    }
  }
}

.site-title {
  font-size: 1.2rem !important;
}

.module {
  .label-team {
    background-color: #2f6960;
  }

  .label-lecture {
    background-color: #3d1a96;
  }

  .label-studio {
    background-color: #45a89a;
  }

  .label-discussion {
    background-color: #f08352;
  }

  .label-proj {
    background-color: #276ea3;
  }

  .label-ltblue {
    background-color: #46a6f0;
  }

  .label-reading-req {
    background-color: #6f6f6f;
  }

  .label-reading-opt {
    background-color: #ddd;
    color: black;
  }
}

.schedule {
  .schedule-event.lecture {
    background-color: #3d1a96;
  }

  .schedule-event.section-a,
  .schedule-event.section-b,
  .schedule-event.section-c {
    background-color: #f08352;
  }

  .schedule-event.tim-s-office-hours {
    .time,
    .location {
      // bruh how !important does this have to be
      font-size: 0.65rem !important;
    }
  }

  a {
    color: white;
  }
}
