.staffer {
  display: flex;
  margin: $sp-4 0;

  .staffer-image {
    border-radius: 10%;
    height: 160px;
    margin-right: $sp-6;
    width: auto;
    box-shadow: 0 0 22px -16px #222;
  }

  .staffer-text {
    width: 100%;
  }

  .staffer-topline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: $sp-2;
  }

  .anchor-heading {
    right: auto;
    left: -$sp-5;
  }

  .staffer-name,
  .staffer-meta,
  p {
    margin: 0 0 $sp-1 0;
  }

  .staffer-name {
    @extend .d-inline-block;
  }

  .staffer-pronouns {
    @extend .label, .text-grey-dk-300, .bg-grey-lt-000;

    user-select: none;
  }

  .staffer-meta {
    dt, dd, dd + dt {
      margin-top: 0;
    }
  }

  @include mq(sm) {
    .staffer-meta {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }
}
